<form class="form-signin container px-3 py-3 pt-md-5 pb-md-4 mx-auto">

    <div class="my-3 p-3 mt-4 mb-4 bg-white rounded box-shadow">
      <div class="text-center">
        <img class="mb-4" src="../assets/mboRijnland_logo.png" alt="" width="72" height="72">
        <h3 class="border-bottom border-gray pb-2 mb-0">FC mboRijnland</h3>
      </div>      
      <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 mt-2 small lh-125 border-bottom border-gray">
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="">
        </div>
      </div>
      <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 mt-2 small lh-125 border-bottom border-gray">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        </div>
      </div>
      <div>
        <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Login</button>
      </div>
    </div>
</form>

